PORT=3000

# Canale livello / diagnostica
DASHBOARD_CHANNEL_ID=234684
DASHBOARD_READ_API_KEY=INSERISCI_READ_KEY_LIVELLO

# Canale temperatura acqua
TEMP_CHANNEL_ID=343440
TEMP_READ_API_KEY=INSERISCI_READ_KEY_TEMP
TEMP_FIELD_NUMBER=1
